<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.0.4" targetFramework="net45" />
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="Microsoft.TeamFoundation.Common" version="12.0.21005.1" targetFramework="net45" />
  <package id="Microsoft.TeamFoundation.WIT.Client" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Client" version="12.0.21005.3" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Common" version="12.0.30501.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Diff" version="12.0.30501.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Client" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Common" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.WebApi" version="12.0.21005.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>