<h4>
    This web application was designed and created by:
</h4>
<br />

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1">
                <label class="control-label">Name: </label>
            </div>
            <div class="col-md-4">
                Hugin Ponnusamy
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label class="control-label">Student No: </label>
            </div>
            <div class="col-md-4">
                50080490
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label class="control-label">Technology:</label>
            </div>
            <div class="col-md-4">
                C#, ASP.NET MVC 5, Bootstrap 3.5, TFS 2013, SQL Server 2014, SendGrid Email Service, Chart.js, jQuery 1.10, EPPlus Excel Library, SharpZipLib Library
            </div>
        </div>
    </div>
</div>